
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main class="main bd-grid">
        <section class="service">
            <div class="service__item">

                <img src="~/image/bonfire.png" alt="icon" class="service__icon" />
                <h3 class="service__title">
                    Camping & Day Use
                </h3>
                <p class="service__detail">
                    Return to your favorite spot or discover a new one that’s right for you.
                </p>
            </div>
            <div class="service__item">
                <img src="~/image/temicon.png" alt="icon" class="service__icon" />
                <h3 class="service__title">
                    Camping & Day Use
                </h3>
                <p class="service__detail">
                    Return to your favorite spot or discover a new one that’s right for you.
                </p>
            </div>
            <div class="service__item">

                <img src="~/image/filled outline-1.png" alt="icon" class="service__icon" />
                <h3 class="service__title">
                    Camping & Day Use
                </h3>
                <p class="service__detail">
                    Return to your favorite spot or discover a new one that’s right for you.
                </p>
            </div>
            <div class="service__item">

                <img src="~/image/fishing-1.png" alt="icon" class="service__icon" />
                <h3 class="service__title">
                    Camping & Day Use
                </h3>
                <p class="service__detail">
                    Return to your favorite spot or discover a new one that’s right for you.
                </p>
            </div>
        </section>

        <section class="wrapper">
            <div class="wrapper__title">

                <img src="~/image/Group 313.png" alt="icon" class="service__icon" />
                <h2>Explore Destinations & Activities</h2>
            </div>
            <div class="wrapper__content">
                <ul class="list-product">
                    <li class="product__item">
                        <div class="product__thumbnail">
                            <img src="~/image/product5.png" alt="thumbnail" />
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            900.000/Ngày
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Núi Bà Đen
                            </h1>
                            <p class="product__description">
                                Núi Bà Đen ở Tây Ninh là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                            </p>
                            <a href="@Url.Action("NuiBaDen","Home")" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">
                            <img src="~/image/product4.png" alt="thumbnail" />
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            1.200.000/Ngày
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Phú Quốc
                            </h1>
                            <p class="product__description">
                                Đảo Phú Quốc ở Kiên Giang là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                            </p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="transmitv_item" value="Phú Quốc">
                                <input type="hidden" name="amount" value="1.200.000">
                                <a href="@Url.Action("details","Home")"  class="product__button">Read More</a>
                              
                            </form>
                        </div>
                    </li>
     
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/product1.png" alt="thumbnail" />
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    850.000/Ngày
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Vinpearl Land
                    </h1>
                    <p class="product__description">
                        Vinpearl Land ở Nha Trang là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("NhaTrang","Home")" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/cocobeach-camp.png" alt="thumbnail" />
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    800.000/Ngày
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        CoCo Beach
                    </h1>
                    <p class="product__description">
                        CoCoBeach ở Phan Thiết là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("Cocobeach","Home")" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/lifebeach.jpg" alt="thumbnail" />
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    900.000/Ngày
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Life Beach- Quy Nhơn
                    </h1>
                    <p class="product__description">
                        Life Beach ở Quy Nhơn là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("LifeBeach","Home")" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/dongcao.jpg" alt="thumbnail" />
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    1.200.000/Ngày
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Đồng Cao- Bắc Giang
                    </h1>
                    <p class="product__description">
                        Đồng Cao ở BẮc Giang là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("DongCao","Home")" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/bv.jpg" alt="thumbnail"/>                  
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    850.000/Ngày
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Vườn Quốc Gia Ba Vì
                    </h1>
                    <p class="product__description">
                        VQG Ba Vì ở Hà Nội là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("Bavi","Home")" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/namcattien.jpg" alt="thumbnail" />
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    900.000/Ngày
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Vườn Quốc Gia Nam Cát Tiên
                    </h1>
                    <p class="product__description">
                        VQG Nam Cát Tiên ở Lâm Đồng là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("CatTien","Home")" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">

                    <img src="~/image/pyen.jpg" alt="thumbnail"/>
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    1.200.000/night
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Bãi biển Phú Yên
                    </h1>
                    <p class="product__description">
                        Bãi biển ở Phú Yên  là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="#" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/caobang.jpg" alt="thumbnail" />
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    550.000/night
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Cao Bằng
                    </h1>
                    <p class="product__description">
                        Cao Bằng là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("CaoBang","Home")" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/deo-Ma-Pi-Leng-Ha-Giang-2.jpg" alt="thumbnail" />
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    780.000/Ngày
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Mã Pí Lèng
                    </h1>
                    <p class="product__description">
                        Mã Pí Lèng ở Hà Giang là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("MaPiLeng","Home")" class="product__button">Read More</a>
                </div>
            </li>
            <li class="product__item">
                <div class="product__thumbnail">
                    <img src="~/image/tudung.jpg" alt="thumbnail" />
                    <div class="product__love-icon">
                        <i class='bx bx-heart'></i>
                    </div>
                </div>
                <div class="product__price">
                    1.000.000/Ngày
                </div>
                <div class="product__detail">
                    <h1 class="product__title">
                        Tà Đùng
                    </h1>
                    <p class="product__description">
                        Tà Đùng ở Đăk Nông là một trong những điểm cắm trại nổi tiếng thu hút nhiều khách du lịch.
                    </p>
                    <a href="@Url.Action("TaDung","Home")" class="product__button">Read More</a>
                </div>
            </li>
            </ul>
            <a href="#" class="view-all">View all</a>
            </div>
        </section>
   @*dụng cụ*@
        <section class="wrapper">
            <div class="wrapper__title">
                <img src="~/image/camping-removebg-preview.png" alt="icon" class="service__icon"  width="80" height="80"/>
                
                <h2>Equipment For Camping</h2>
            </div>
            <div class="wrapper__content">
                <ul class="list-product">
                    <li class="product__item">
                        <div class="product__thumbnail">

                            <img src="~/image/lothan.png" alt="thumbnail"/>
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            100.000/Ngày
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                               Lò than nướng
                            </h1>
                            <p class="product__description">
                                Lò nướng đi kèm với than phù hợp với những người thích ăn đồ nướng.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">

                            <img src="~/image/bep.png" alt="thumbnail"/>
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            200.000/Ngày
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Bếp nướng barbecue
                            </h1>
                            <p class="product__description">
                                Bếp nướng barbecue dùng để tổ chức những buổi tiệc nướng lớn.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">
                            <img src="~/image/LỀU.png" alt="thumbnail"/>
                           
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            350.000/Ngày
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                               Lều chữ A
                            </h1>
                            <p class="product__description">
                                Lều chữ A nhỏ gọn tiện nghi phù hợp cho 1 nhóm nhỏ từ 3-4 người.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">

                            <img src="~/image/ghe.png" alt="thumbnail"/>
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            30.000/Cái/Ngày
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                               Ghế gỗ
                            </h1>
                            <p class="product__description">
                              Ghế gỗ phục vụ cho việc cắm trại, ngồi lại vui chơi 
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">
                            <img src="~/image/cui.png" alt="thumbnail"/>
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            55.000/Bó
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                               Củi nhóm lửa
                            </h1>
                            <p class="product__description">
                                Củi nhóm lửa cung cấp cho những người có nhu cầu cắm trại qua đêm.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">

                            <img src="~/image/tham.png" alt="thumbnail" />
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                           200.000/Ngày
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Thảm camping
                            </h1>
                            <p class="product__description">
                               Thảm lót ngồi dành cho bữa ăn ngoài trời.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">

                            <img src="~/image/_Pngtree_vector_water_bottle_icon_4155847-removebg-preview.png" alt="thumbnail" />
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            10.000/chai
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Nước uống đóng chai
                            </h1>
                            <p class="product__description">
                                 Nước uống đóng chai cung cấp đủ nước cho các hoạt động vui chơi .
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">
                            <img src="~/image/yte.png" alt="thumbnail"/>
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                           58.000/Hộp/Ngày
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Hộp dụng cụ y tế
                            </h1>
                            <p class="product__description">
                                Hộp ý tế chứa những dụng cụ phục vụ cho việc cứu thương trong những lúc bị thương.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">

                            <img src="~/image/chen.png" alt="thumbnail"/>
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            30.000/bộ
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Bộ dĩa cao cấp
                            </h1>
                            <p class="product__description">
                                Bộ dĩa cao cấp phụ vụ cho việc ăn uống, tiệc tùng trong cắm trại.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">
                            <img src="~/image/noi.png" alt="thumbnail" />
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            100.000/bộ
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Bộ nồi inox cao cấp
                            </h1>
                            <p class="product__description">
                                Bộ nồi inox cao cấp phụ vụ cho việc nấu ăn tại buổi cắm trại.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">

                            <img src="~/image/coca.png" alt="thumbnail"/>
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            250.000/Thùng
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Thùng nước ngọt Coca Cola
                            </h1>
                            <p class="product__description">
                                Thùng nước ngọt Coca Cola sự lựa chọn tuyệt vời trong việc giải khát.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                    <li class="product__item">
                        <div class="product__thumbnail">

                            <img src="~/image/thit.png"  alt="thumbnail"/>
                            <div class="product__love-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                        </div>
                        <div class="product__price">
                            300.000/Combo
                        </div>
                        <div class="product__detail">
                            <h1 class="product__title">
                                Combo thịt nướng
                            </h1>
                            <p class="product__description">
                                Combo thịt nướng hỏa hạng được chế biến từ đầu bếp chuyên nghiệp.
                            </p>
                            <a href="#" class="product__button">Read More</a>
                        </div>
                    </li>
                </ul>
                <a href="#" class="view-all">View all</a>
            </div>
        </section>









        <section class="subscribe">
            <div class="subscribe__bg">

                <img src="~/image/mask.png" alt="img" />
            </div>
            <div class="subscribe__img">

                <img src="~/image/homeicon.png" alt="homeicon" />
            </div>
            <form class="subscribe__form">
                <div class="subscribe__title">
                    <h2>Let's Stay in Touch</h2>
                </div>
                <div class="subscribe__sub-title">
                    <p>.</p>
                </div>
                <div class="subscribe__input">
                    <div class="subscribe__box-input">
                        <i class='bx bx-mail-send'></i>
                        <input type="text" placeholder="Email Address">
                    </div>
                    <button type="submit" class="subscribe__send">
                        <i class='bx bxl-telegram'></i>
                    </button>
                </div>
            </form>
        </section>
    </main>


